    /* Wrapper for the entire user info section */
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.22;
        letter-spacing: 0.04em;
        padding: 10px;
    }
    
    /* Styles for the username paragraph */
    .username {
        color: black;
        text-transform: capitalize;
    }
    
    /* Default button style */
    button {
        background-color: #9b9faa;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 300ms linear, color 300ms linear;
    }
    
    /* Hover and focus styles for the button */
    button:hover,
    button:focus {
        background-color: black;
        color: white;
    }
    
    /* Responsive styles for different screen sizes */
    @media screen and (max-width: 767px) {
        .wrapper {
        flex-direction: column;
        align-items: flex-start;
        }
        .username {
        margin-bottom: 10px;
        }
    }
    
    @media screen and (min-width: 768px) {
        .wrapper {
        flex-direction: row;
        }
    }
    
    @media screen and (min-width: 1280px) {
        .wrapper {
        top: 131px;
        }
    }
    